<div class="menu-child">
  <h2>Buccaneer:</h2>
  <div *ngIf="myService.loggedIn; then startBlock; else loginBlock"></div>
  <ng-template #startBlock>
    <button (click)="joinGame()" class="click-me-button">
      <div class="click-me-text">Click to Play!</div>
    </button>
  </ng-template>
  <ng-template #loginBlock>
    <button (click)="nagivateToLogin()" class="click-me-button">
      <div class="click-me-text">Click to Login</div>
    </button>
  </ng-template>
</div>
<app-chat></app-chat>
<app-event></app-event>
