.click-me-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.click-me-text {
  color: rgba($color: white, $alpha: 0.8);
  font-weight: 200;
  font-size: 32px;
  font-family: "Manrope";
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}
