.app-title {
  display: flex;
  justify-content: center;
}

.top-right-container {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  display: grid;
  grid-auto-flow: column;
  //   background-color: rgba($color: grey, $alpha: 0.5);
  column-gap: 4px;
}

.top-right-container-item {
  display: flex;
  align-items: center;
}

.gitlab-button {
  background-image: url(../assets/gitlab-logo-500.png);
  background-size: contain;
  background-color: rgba($color: #000000, $alpha: 0);
  height: 32px;
  aspect-ratio: 1;
}

.gitlab-button:hover {
  filter: brightness(50%);
}

.menu-button {
  position: absolute;
  z-index: 9;
  top: 4px;
  left: 4px;
  color: black;
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "Material Icons Outlined";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 100%;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, z-index 0.2s ease-in-out;
}
