<div class="app-title"><h1>Buccaneer!</h1></div>
<div class="top-right-container">
  <div class="top-right-container-item">
    <div>buccaneer@{{ version }}</div>
  </div>
  <a
    class="gitlab-button top-right-container-item"
    href="https://gitlab.com/ohmorrissey/buccaneer"
  ></a>
</div>
<a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page"
  ><span class="menu-button">menu</span></a
>
<router-outlet></router-outlet>
