<div class="menu-child">
  <h2>Settings:</h2>
  <div>
    <input id="setUrl" [(ngModel)]="url" />
  </div>
  <div>
    <button (click)="setWSUrl()">Save WS url</button>
    <button (click)="resetWSUrl()">Reset url</button>
  </div>
</div>
