<div id="event-window" class="event-window">
  <div id="event-list" class="event-list">
    <div *ngFor="let event of events" class="event">
      [{{event.time}}]
      <i [ngStyle]="{'color': event.colour}">{{event.userName}}</i> {{event.event}}
    </div>
  </div>
</div>
