<div id="chat-window" class="chat-window">
  <div id="chat-list" class="chat-list">
    <div *ngFor="let chat of chats" class="chat">
      [{{chat.time}}]
      <b [ngStyle]="{'color': chat.colour}">{{chat.userName | uppercase}}</b>: {{chat.message}}
    </div>
  </div>
  <div id="chat-bar" class="chat-bar">
    <input id="chat-input" class="chat-input">
  </div>

</div>
