/* You can add global styles to this file, and also import other style files */
.chat-window {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.chat-bar {
  height: 40px;
}

.chat-input {
  vertical-align: middle;
  border-radius: 5px;
  padding-left: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin: 3px 3px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  &:focus {
    outline: rgba(0, 0, 0, 0);
  }
}

.chat-list {
  display: grid;
  columns: 200px 1;
  top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

.chat {
  margin: 4px 4px;
  color: white;
}
