<div class="menu-child">
  <h2>Profile:</h2>
  <div *ngIf="myService.loggedIn; then profileBlock; else loginBlock"></div>
  <ng-template #profileBlock>
    Logged in as: {{ userName }}
    <div>
      <button (click)="logout()">Log Out</button>
    </div>
  </ng-template>
  <ng-template #loginBlock>
    <div class="flex-center-column" style="width: 100%">
      <div>
        <h3>Login:</h3>
      </div>
      <div class="input-group">
        <input
          class="input-group-input"
          type="text"
          id="name"
          [(ngModel)]="userName"
          placeholder=" "
        />
        <label class="input-group-label">Username</label>
      </div>
      <div class="button-group">
        <input
          class="button-group-input"
          type="button"
          id="login-button"
          (click)="login()"
        />
        <label class="button-group-label">Login</label>
      </div>
    </div>
  </ng-template>
</div>
