.input-group {
  position: relative;
}

.input-group-input {
  border: solid 1.5px white;
  border-radius: 1rem;
  //   width: 230px;
  //   height: 53px;
  background: none;
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 1rem;
  font-size: 1rem;
  color: white;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group-label {
  position: absolute;
  left: 16px;
  color: white;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group-input-event {
  outline: none;
  border: 1.5px solid white;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group-label-event {
  transform: translateY(-100%) scale(0.8);
  background-color: rbga(0, 0, 0, 0);
  padding: 0 0.2em;
  color: white;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group-input:focus {
  @extend .input-group-input-event;
}

.input-group-input:focus ~ label {
  @extend .input-group-label-event;
}

.input-group-input:not(:placeholder-shown) {
  @extend .input-group-input-event;
}

.input-group-input:not(:placeholder-shown) ~ label {
  @extend .input-group-label-event;
}

.button-group {
  position: relative;
}

.button-group-input {
  border: solid 1.5px white;
  width: 230px;
  height: 53px;
  border-radius: 1rem;
  background: none;
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 1rem;
  font-size: 1rem;
  color: white;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-group-label {
  position: absolute;
  left: 16px;
  color: white;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-group-input:hover {
  background-color: white;
}

.button-group-input:hover ~ label {
  color: black;
}
