@import url("https://fonts.googleapis.com/css?family=Manrope");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");

div {
  font-family: "Manrope";
}

.three-parent {
  // Removes whitespace border around THREE.
  top: 0px;
  left: 0px;
  margin: 0px;
}

// CSS for THREE Class
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -99;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-flow: column;
  gap: 4px;
  justify-content: space-around;
  align-items: center;
}

.menu-parent {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.menu-child {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  border-radius: 32px;
  padding: 32px;
  height: clamp(170px, 65vh, 1000px);
  width: clamp(300px, 65vw, 1000px);
  background-color: rgba($color: #000000, $alpha: 0.5);
}
