<div class="loading-component">
  <div class="box-canvas">
    <div class="shadow"></div>
    <div class="glass">
      <div class="bottom"></div>
    </div>
    <div class="lemon">
      <div class="segment-left segment"></div>
      <div class="segment-right segment"></div>
    </div>
  </div>
  <div class="container">
    <div class="spinner">
      <div class="spinner-item"></div>
      <div class="spinner-item"></div>
      <div class="spinner-item"></div>
    </div>
  </div>
</div>
