.loading-component {
  background: #06355c;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;

  --drink-color: #d4ecf6;
  --drink-shadow: white;
  --semi-transparent-white: #c4e4f3;
  --lemon-rind: #efd46f;
  --lemon-pith: #f1e3d9;
}

.box-canvas {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 7%;
  margin-bottom: 0%;
  width: 400px;
  height: 400px;
  //   background: white;
}

.lemon {
  position: absolute;
  left: -25px; //80px;
  top: 30px; //70px;
  width: 175px;
  height: 100px;
  overflow: hidden;
  transform: rotate(-25deg);
}

/* Main lemon background */
.lemon::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 155px;
  height: 175px;
  background: var(--lemon-pith);
  border-radius: 50%;
  border: 10px solid var(--lemon-rind);
}

/* Line going into middle of lemon to look like glass edge */
.lemon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 83px;
  height: 30px;
  width: 10px;
  border-radius: 40%;
  border-left: 1px solid white;
  transform: rotate(-10deg);
}

/* Shared segment styles */
.segment {
  position: absolute;
  bottom: 5px;
  width: 65px;
  height: 25px;
  border: 2px solid var(--lemon-pith);
  background: var(--lemon-rind);
}

.segment-left {
  right: 50%;
  border-radius: 30% 50% 50% 30%;
}

.segment-right {
  left: 50%;
  border-radius: 50% 30% 30% 50%;
}

/* Shared middle segment styles */
.segment::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 65px;
  height: 25px;
  border: 2px solid var(--lemon-pith);
  background: var(--lemon-rind);
}

/* left middle segment */
.segment-left::before {
  right: -15px;
  border-radius: 30% 50% 50% 30%;
  transform: rotate(45deg);
}

/* right middle segment */
.segment-right::before {
  left: -15px;
  border-radius: 50% 30% 30% 50%;
  transform: rotate(-45deg);
}

/* Middle segment */
.segment-right::after {
  content: "";
  position: absolute;
  left: -35px;
  bottom: 15px;
  width: 65px;
  height: 25px;
  border: 2px solid var(--lemon-pith);
  background: var(--lemon-rind);
  transform: rotate(90deg);
  border-radius: 30% 50% 50% 30%;
}

/* Container class */
.glass {
  position: absolute;
  top: 110px;
  left: 70px;
  height: 250px;
  width: 220px;
}

/* Main body of drink in glass */
.glass::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 250px;
  background: linear-gradient(
    to bottom,
    var(--semi-transparent-white),
    var(--semi-transparent-white) 40%,
    var(--drink-color) 10%
  );
  clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
}

/* Top circle of glass */
.glass::after {
  content: "";
  position: absolute;
  top: -45px;
  width: 248px;
  height: 80px;
  background: var(--semi-transparent-white);
  border: 1px solid white;
  border-radius: 50%;
}

/* Curved bottom of glass */
.bottom {
  position: absolute;
  width: 200px;
  top: 170px;
  left: 25px;
  height: 70px;
  background: var(--drink-color);
  border-radius: 0 0 50% 50%;
}

/* Top ring of liquid */
.bottom::before {
  content: "";
  position: absolute;
  width: 226px;
  height: 60px;
  border-radius: 50%;
  background: var(--drink-color);
  border: 1px solid var(--drink-shadow);
  top: -115px;
  left: -14px;
}

.shadow {
  position: absolute;
  top: 270px;
  left: 45px;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
}

.container {
  width: 84px;
  height: 84px;
  position: absolute;
  left: calc(50% - 42px);
  margin-top: 7rem;
  margin-bottom: 7rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  gap: 7rem;
  z-index: 9999;
  --size: 75px;
  --clr-bg: #272324;
  --clr1: #676fa6;
  --clr3: #7687ff;
  --clr5: #ffffff;
}

@media (min-width: 600px) {
  .container {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
  }
}

.spinner {
  --animation-duration: 650ms;
  position: relative;
  width: var(--size);
  height: var(--size);

  .spinner-item {
    position: absolute;
    width: var(--item-size);
    height: var(--item-size);
    top: calc(50% - var(--item-size) / 2);
    left: calc(50% - var(--item-size) / 2);
    border: 4px solid transparent;
    border-left: 4px solid var(--clr-spinner);
    border-right: 4px solid var(--clr-spinner);
    border-radius: 50%;
    animation: spinner2 var(--animation-duration) linear infinite;

    @keyframes spinner2 {
      to {
        transform: rotate(360deg);
      }
    }
  }

  .spinner-item:nth-of-type(1) {
    --item-size: var(--size);
    --clr-spinner: var(--clr1);
    border-top: 4px solid var(--clr1);
  }

  .spinner-item:nth-of-type(2) {
    --item-size: calc(var(--size) - 15px);
    --clr-spinner: var(--clr5);
    border-bottom: 4px solid var(--clr5);
  }

  .spinner-item:nth-of-type(3) {
    --item-size: calc(var(--size) - 30px);
    --clr-spinner: var(--clr3);
    border-top: 4px solid var(--clr3);
  }
}
