<div *ngIf="isMobile" class="mobile-button-stage">
  <button class="fire-button gem" (click)="fire()">trail_length_short</button>
  <div class="steer-stage">
    <button
      class="steer-button gem"
      (touchstart)="steerLeft()"
      (touchend)="steerStraight()"
      (mousedown)="steerLeft()"
      (mouseup)="steerStraight()"
    >
      arrow_back
    </button>
    <div class="mast-stage">
      <button class="mast-button gem" (click)="speedUp()">brightness_2</button>
      <button class="mast-button gem" (click)="slowDown()">brightness_3</button>
    </div>
    <button
      class="steer-button gem"
      (touchstart)="steerRight()"
      (touchend)="steerStraight()"
      (mousedown)="steerRight()"
      (mouseup)="steerStraight()"
    >
      arrow_forward
    </button>
  </div>
</div>
<app-chat></app-chat>
<app-event></app-event>
