.mobile-button-stage {
  position: absolute;
  display: flex;
  top: 40px;
  right: 0px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  padding-right: 4px;
}

.fire-button {
  height: 64px;
  aspect-ratio: 1;
  background: none;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.steer-button {
  height: 132px;
  width: 64px;
}

.steer-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  column-gap: 4px;
}

.mast-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  row-gap: 4px;
}

.mast-button {
  width: 64px;
  height: 64px;
}

.gem {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.7);
  font-size: 44px;
  border-width: 5px;
  border-style: solid;
  border-radius: 16px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  font-family: "Material Symbols Outlined";
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gem:active {
  background-color: rgba(255, 255, 255, 0.1);
}
