.menu-navigation {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 64px;
  z-index: 9;
  // background-color: aquamarine;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: center;
}

.menu-item {
  position: relative;
  color: black;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "Material Icons Outlined";
  text-decoration: none;
  border-radius: 100%;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.exit-menu {
  position: absolute;
  z-index: 9;
  top: 4px;
  left: 68px;
  color: black;
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "Material Icons Outlined";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 100%;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.menu-item:hover {
  // transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out,
  //   box-shadow 0.2s ease-in-out;
  transition: all 0.2s;
  transform: translateX(2px) scale(130%);
  border-radius: 100%;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
