<a routerLink="../" routerLinkActive="active" ariaCurrentWhenActive="page"
  ><span class="exit-menu">close</span></a
>

<div class="menu-navigation">
  <a routerLink="./" routerLinkActive="active" ariaCurrentWhenActive="page"
    ><span class="menu-item">home</span></a
  >
  <a routerLink="./login" routerLinkActive="" ariaCurrentWhenActive="/page">
    <span class="menu-item">group</span>
  </a>

  <a routerLink="./settings" routerLinkActive="" ariaCurrentWhenActive="/page">
    <span class="menu-item">settings</span>
  </a>
</div>
<div class="menu-parent"><router-outlet></router-outlet></div>
